@import "../../styles/App.scss";

.list-tags {
  @extend %list-horizontal;
  color: $white-color;
}

.tag {
  @extend %centered;
  height: 25px;
  min-width: 115px;
  padding: 0 8px;
  background-color: $primary-color;
  border-radius: 10px;
  font-size: 14px;
}
