@import "../../main.scss";

.list-tags {
  @extend %list-horizontal;
  flex-wrap: wrap;
  color: $white-color;
}

.tag {
  @extend %centered;
  height: 25px;
  min-width: 115px;
  padding: 0 8px;
  background-color: $primary-color;
  border-radius: 10px;
  font-size: 14px;
}

@media screen and (max-width: $breakpoint-small) {
  .list-tags {
    margin-bottom: 20px;
  }

  .tag {
    min-width: 84px;
    height: 18px;
    font-size: 10px;
  }
}
