@import "../../main.scss";

.column-404 {
  @include column(100px);
  align-items: center;

  > * {
    text-align: center;
  }

  h1 {
    font-size: 288px;
    font-weight: 700;
    line-height: 1;
  }

  h2 {
    font-size: 36px;
  }

  a {
    color: $primary-color;
    &:hover {
      color: darken($primary-color, 30%);
    }
  }
}

@media screen and (max-width: $breakpoint-small) {
  .column-404 {
    h1 {
      font-size: 96px;
    }

    h2 {
      font-size: 18px;
    }

    a {
      font-size: 14px;
    }
  }
}
