$primary-color: #ff6060;
$white-color: #ffffff;
$grey-color: #f6f6f6;

$breakpoint-medium: 1024px;
$breakpoint-small: 767.98px;

$background-home: url(/Image-home.png);
$background-about: url(/Image-about.png);
