@import "../styles/variables.scss";

.container-main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 100px;
}

@media screen and (max-width: $breakpoint-small) {
  .container-main {
    padding-left: 16px;
    padding-right: 16px;
  }
}
