@import "../../styles/variables.scss";

.header {
  margin-bottom: 50px;

  a {
    text-decoration: none;
    color: $primary-color;
    font-size: 24px;

    &:hover {
      color: darken($primary-color, 30%);
    }

    &.active {
      text-decoration: underline;
    }
  }
}
