@import "../../main.scss";

.header {
  margin-bottom: 50px;

  a {
    text-decoration: none;
    color: $primary-color;
    font-size: 24px;

    &:hover {
      color: darken($primary-color, 10%);
    }

    // React Router ajoute la classe ".active" à un NavLink actif
    &.active {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: $breakpoint-small) {
  .header {
    img {
      width: 145px;
      height: auto;
    }
    a {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}
