@import "./index.scss";

%list-horizontal {
  display: flex;
  gap: 10px;
}

%centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
/////////////////////////////////

.row {
  display: flex;
  justify-content: space-between;
  gap: 5%;

  > * {
    flex: 1;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-main {
  padding: 50px 100px;
}

.container {
  background-color: $grey-color;
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden;
}

.container-collapse {
  @extend .container;

  .title {
    &:hover {
      cursor: pointer;
    }
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .list,
  .text {
    padding: 1.5em;
  }

  span {
    transition: 0.2s ease-out;
  }

  .chevron-down {
    transform: rotate(180deg);
  }
}

.container-cards {
  @extend .container;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px;
}

.card {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.2s ease-out;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h2 {
    position: absolute;
    z-index: 5;
    bottom: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
    z-index: 3;
  }
}

.list-stars {
  @extend %list-horizontal;
  color: #e3e3e3;
  justify-content: flex-end;

  li {
    font-size: 24px;
  }

  .filled {
    color: $primary-color;
  }
}

.list-tags {
  @extend %list-horizontal;
  color: $white-color;
}

.tag {
  @extend %centered;
  height: 25px;
  min-width: 115px;
  padding: 0 8px;
  background-color: $primary-color;
  border-radius: 10px;
  font-size: 14px;
}

.carousel {
  position: relative;

  > *:not(ul) {
    position: absolute;
  }

  ul {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 415px;
  }

  li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 0.5s ease-out;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // Repositionner l'image pour qu'elle soit centrée verticalement
    object-position: 0 50%;
  }

  .wrapper-icon {
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: $white-color;
    &:hover {
      color: rgba($primary-color, 0.8);
    }
    &:active {
      color: darken($primary-color, 10%);
    }
  }

  .icon-left {
    left: 20px;
  }

  .icon-right {
    right: 20px;
  }

  .pagination {
    color: $white-color;
    bottom: 30px;
    left: 50%;
    font-size: 18px;
  }
}

.column-left {
  @extend .column;
  h2 {
    margin: 0;
  }
}

.row-end {
  @extend .row;
  justify-content: flex-end;

  > * {
    flex: initial;
  }
}
